<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>User profile template</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FONT-AWESOME STYLE SHEET FOR BEAUTIFUL ICONS -->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <style type="text/css">
               .btn-social {
            color: white;
            opacity: 0.8;
        }

            .btn-social:hover {
                color: white;
                opacity: 1;
                text-decoration: none;
            }

            h4 {
                text-align: center;
            }


    </style>
</head>
<body>
<!-- NAVBAR CODE END -->
<h4> {{.Message}}</h4>

<div class="container">
    <form action="/updatePswd" method="post">
    <section style="padding-bottom: 50px; padding-top: 50px;">
        <div class="row">

            <div class="col-md-8">


                <div class="form-group col-md-8">
                    <h3>Change YOur Password</h3>
                    <br />
                    <label>Enter Old Password</label>
                    <input type="password" class="form-control" name="oldPswd" required>
                    <label>Enter New Password</label>
                    <input type="password" class="form-control" name="newPswd" required>
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" name="cnewPswd" required/>
                    <br>
                    <input type="submit" class="btn btn-warning" value="Change Password">
                </div>
            </div>
        </div>
        <!-- ROW END -->


    </section>
        </form>
    <!-- SECTION END -->
</div>
<!-- CONATINER END -->

<!-- REQUIRED SCRIPTS FILES -->
<!-- CORE JQUERY FILE -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- REQUIRED BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.js"></script>
</body>

</html>